* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #151515;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #ffdfeb;
  padding: 50px 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  margin-bottom: -5px;
}

.header__phone {
  margin-bottom: -5px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.logo__image {
  width: 30px;
}

.logo__text {
  color: #151515;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-left: 23px;
  margin-bottom: -5px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 530px;
}

.menu__link {
  text-decoration: none;
  color: #151515;
  font-size: 16px;
  line-height: 16px;
}

.phone {
  font-weight: bold;
}

.main {
  background-color: #ffdfeb;
}

.main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 150px;
}

.main__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  margin: 0;
}

.main__subtitle {
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  margin: 0;
  margin-top: 20px;
}

.main__button {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  background-color: #77c20b;
  padding: 21px 48px;
  border: none;
  margin-top: 35px;
  border-radius: 35px;
  cursor: pointer;
  outline: none;
}

.main__image {
  position: relative;
}

.main__img {
  height: 710px;
}

.main__light {
  width: 300px;
  height: 300px;
  background: #000;
  -webkit-filter: blur(200px);
          filter: blur(200px);
  position: absolute;
  top: 28%;
  left: 28%;
  border-radius: 50%;
}

.main__circle {
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
}

.main__circle--big {
  width: 565px;
  height: 565px;
  border: 60px solid #9368A9;
  right: 0;
  top: 0;
}

.main__circle--small {
  width: 150px;
  height: 150px;
  border: 25px solid #fff;
  left: 0;
  top: 47%;
}

.main__circle--medium {
  width: 200px;
  height: 200px;
  border: 30px solid #77C20B;
  bottom: -18%;
  left: 34%;
}

.advantages__inner {
  text-align: center;
  padding: 120px 0;
}

.advantages__title {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
}

.advantages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage__title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 40px;
}

.advantage__image {
  width: 200px;
  height: 200px;
  border: 10px solid #FFDFEB;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantage__subtitle {
  margin: 0;
  margin-top: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

.catalog {
  background-color: #9368a9;
}

.catalog__inner {
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #ffffff;
  margin: 0;
  margin-bottom: 60px;
}

.catalog__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 610px;
  margin-bottom: 50px;
}

.catalog__cards {
  width: 100%;
  position: relative;
}

.filter {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #fff;
  padding: 7px 31px;
  border-radius: 60px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.filter.active {
  background-color: #ffffff;
  color: #9368a9;
}

.card {
  width: 270px;
  min-height: 400px;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  margin: 0 auto;
}

.card__image {
  width: 100%;
  height: 165px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__text {
  padding: 20px 25px;
}

.card__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 5px;
}

.card__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
}

.card__price {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #77C20B;
}

.type {
  padding: 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.type__color {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 10px;
}

.type__color--red {
  background-color: #DC5D5D;
}

.type__color--black {
  background-color: #563865;
}

.type__color--white {
  background-color: #EAEAEA;
}

.type__text {
  font-size: 16px;
  line-height: 30px;
  text-transform: lowercase;
}

.swiper-container {
  width: 970px;
}

.control-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
}

.control-button::before, .control-button::after {
  display: none;
}

.swiper-button-next img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*# sourceMappingURL=style.css.map */