* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #151515;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: #ffdfeb;
    padding: 50px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__menu {
        margin-bottom: -5px;
    }

    &__phone {
        margin-bottom: -5px;
    }
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    &__image {
        width: 30px;
    }

    &__text {
        color: #151515;   
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-left: 23px;
        margin-bottom: -5px;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 530px;

    &__link {
        text-decoration: none;
        color: #151515;
        font-size: 16px;
        line-height: 16px;
    }
}

.phone {
    font-weight: bold;
}

.main {
    background-color: #ffdfeb;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 150px;
    }

    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 150%;
        margin: 0;
    }

    &__subtitle {
        font-weight: normal;
        font-size: 24px;
        line-height: 150%;
        margin: 0;
        margin-top: 20px;
    }

    &__button {
        font-weight: bold;
        font-size: 18px;
        line-height: 150%;
        background-color: #77c20b;
        padding: 21px 48px;
        border: none;
        margin-top: 35px;
        border-radius: 35px;
        cursor: pointer;
        outline: none;
    }

    &__image {
        position: relative;
    }

    &__img {
        height: 710px;
    }

    &__light {
        width: 300px;
        height: 300px;
        background: #000;
        filter: blur(200px);
        position: absolute;
        top: 28%;
        left: 28%;
        border-radius: 50%;
    }

    &__circle {
        background-color: transparent;
        border-radius: 50%;
        position: absolute;
    }

    &__circle--big {
        width: 565px;
        height: 565px;
        border: 60px solid #9368A9;
        right: 0;
        top: 0;
    }

    &__circle--small {
        width: 150px;
        height: 150px;
        border: 25px solid #fff;
        left: 0;
        top: 47%;
    }

    &__circle--medium {
        width: 200px;
        height: 200px;
        border: 30px solid #77C20B;
        bottom: -18%;
        left: 34%;
    }
}

.advantages {

    &__inner {
        text-align: center;
        padding: 120px 0;
    }

    &__title {
        margin: 0;
        font-weight: bold;
        font-size: 36px;
        line-height: 150%;
    }

    &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 60px;
    }
}

.advantage {

    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin: 0;
        font-weight: bold;
        font-size: 24px;
        line-height: 150%;
        margin-bottom: 40px;
    }

    &__image {
        width: 200px;
        height: 200px;
        border: 10px solid #FFDFEB;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__subtitle {
        margin: 0;
        margin-top: 30px;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
    }
}

.catalog {

    background-color: #9368a9;

    &__inner {
        padding: 120px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 150%;
        color: #ffffff;
        margin: 0;
        margin-bottom: 60px;
    }

    &__filters {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 610px;
        margin-bottom: 50px;
    }

    &__cards {
        width: 100%;
        position: relative;
    }
}

.filter {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    border: 2px solid #fff;
    padding: 7px 31px;
    border-radius: 60px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

.filter.active {
    background-color: #ffffff;
    color: #9368a9;
}

.card {
    width: 270px;
    min-height: 400px;
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    margin: 0 auto;

    &__image {
        width: 100%;
        height: 165px;
        object-fit: cover;
    }

    &__text {
        padding: 20px 25px;
    }

    &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        margin: 0;
        margin-bottom: 5px;
    }

    &__subtitle {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 12px;
    }

    &__price {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #77C20B;
    }
}

.type {
    padding: 20px 25px;
    display: flex;
    align-items: center;

    &__color {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-right: 10px;
    }

    &__color--red {
        background-color: #DC5D5D;
    }

    &__color--black {
        background-color: #563865;
    }

    &__color--white {
        background-color: #EAEAEA;
    }

    &__text {
        font-size: 16px;
        line-height: 30px;
        text-transform: lowercase;
    }
}

.swiper-container {
    width: 970px;
}

.control-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;

    &::before, &::after {
        display: none;
    }
}

.swiper-button-next {
    img {
        transform: rotate(180deg);
    }
}

.gallery {

    &__inner {
        padding: 120px 0;
        text-align: center;
    }

    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 150%;
        color: #151515;
        margin: 0;
        margin-bottom: 60px;
    }
}

.photos {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__group {
        height: 780px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__image {
        object-fit: cover;
        border-radius: 12px;
        overflow: hidden;
        width: 370px;
    }

    &__image--small {
        height: 250px;
    }

    &__image--big {
        height: 500px;
    }
}