* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #151515;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: #ffdfeb;
    padding: 50px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    &__image {
        width: 225px;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 530px;

    &__link {
        text-decoration: none;
        color: #151515;
        font-size: 16px;
        line-height: 16px;
        position: relative;
    }

    &__link::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #151515;
        position: absolute;
        bottom: -3px;
        left: 0;
        transform: scale(0);
        transition: 0.2s;
    }
}

.menu__link:hover::after {
    transform: scale(1);
}

.phone {
    font-weight: bold;
}

.main {
    background-color: #ffdfeb;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 150px;
    }

    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 150%;
        margin: 0;
    }

    &__subtitle {
        font-weight: normal;
        font-size: 24px;
        line-height: 150%;
        margin: 0;
        margin-top: 20px;
    }

    &__button {
        font-weight: bold;
        font-size: 18px;
        line-height: 150%;
        background-color: #77c20b;
        padding: 21px 48px;
        border: none;
        margin-top: 35px;
        border-radius: 35px;
        cursor: pointer;
        outline: none;
        display: inline-block;
        color: #151515;
        text-decoration: none;
    }

    &__image {
        position: relative;
    }

    &__img {
        height: 710px;
    }

    &__light {
        width: 300px;
        height: 300px;
        background: #000;
        filter: blur(200px);
        position: absolute;
        top: 28%;
        left: 28%;
        border-radius: 50%;
    }

    &__circle {
        background-color: transparent;
        border-radius: 50%;
        position: absolute;
    }

    &__circle--big {
        width: 565px;
        height: 565px;
        border: 60px solid #9368A9;
        right: 0;
        top: 0;
    }

    &__circle--small {
        width: 150px;
        height: 150px;
        border: 25px solid #fff;
        left: 0;
        top: 47%;
    }

    &__circle--medium {
        width: 200px;
        height: 200px;
        border: 30px solid #77C20B;
        bottom: -18%;
        left: 34%;
    }
}

.advantages {

    &__inner {
        text-align: center;
        padding: 120px 0;
    }

    &__title {
        margin: 0;
        font-weight: bold;
        font-size: 36px;
        line-height: 150%;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
}

.advantage {

    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin: 0;
        font-weight: bold;
        font-size: 24px;
        line-height: 150%;
        margin-bottom: 40px;
    }

    &__image {
        width: 200px;
        height: 200px;
        border: 10px solid #FFDFEB;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__subtitle {
        margin: 0;
        margin-top: 30px;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
    }
}

.catalog {

    background-color: #9368a9;

    &__inner {
        padding: 120px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 150%;
        color: #ffffff;
        margin: 0;
        margin-bottom: 60px;
    }

    &__filters {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 610px;
        margin-bottom: 50px;
    }

    &__cards {
        width: 100%;
        position: relative;
    }
}

.filter {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    border: 2px solid #fff;
    padding: 7px 31px;
    border-radius: 60px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

.filter.active {
    background-color: #ffffff;
    color: #9368a9;
}

.card {
    width: 270px;
    min-height: 400px;
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    margin: 0 auto;

    &__image {
        width: 100%;
        height: 165px;
        object-fit: cover;
    }

    &__text {
        padding: 20px 25px;
    }

    &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        margin: 0;
        margin-bottom: 5px;
    }

    &__subtitle {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 12px;
    }

    &__price {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #77C20B;
    }
}

.type {
    padding: 20px 25px;
    display: flex;
    align-items: center;

    &__color {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-right: 10px;
    }

    &__color--red {
        background-color: #DC5D5D;
    }

    &__color--black {
        background-color: #563865;
    }

    &__color--white {
        background-color: #EAEAEA;
    }

    &__text {
        font-size: 16px;
        line-height: 30px;
        text-transform: lowercase;
    }
}

.swiper-container {
    width: 970px;
}

.control-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;

    &::before, &::after {
        display: none;
    }
}

.swiper-button-next {
    img {
        transform: rotate(180deg);
    }
}

.gallery {

    &__inner {
        padding: 120px 0;
        text-align: center;
    }

    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 150%;
        color: #151515;
        margin: 0;
        margin-bottom: 60px;
    }
}

.photos {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__group {
        height: 780px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__image {
        object-fit: cover;
        border-radius: 12px;
        overflow: hidden;
        width: 370px;
    }

    &__image--small {
        height: 250px;
    }

    &__image--big {
        height: 500px;
    }
}

.about {
    background-color: #ffdfeb;
    
    &__inner {
        padding: 120px 0;
    }

    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 150%;
        color: #151515;
        margin: 0;
        margin-bottom: 50px;
        text-align: center;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        width: 570px;
    }

    &__text-title {
        font-size: 24px;
        line-height: 150%;
        margin: 0;
        margin-bottom: 35px;
    }

    &__text-subtitle {
        font-size: 20px;
        line-height: 150%;
    }

    &__image {
        position: relative;
        min-width: 570px;
        height: 530px;
    }

    &__img--1 {
        width: 470px;
        height: 470px;
        object-fit: cover;
        border-radius: 50%;
        border: 20px solid #9368A9;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &__img--2 {
        width: 270px;
        height: 270px;
        object-fit: cover;
        border-radius: 50%;
        border: 20px solid #9368A9;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.contact {
    background-color: #9368a9;
    position: relative;
    overflow: hidden;

    &__inner {
        padding: 120px 0;
    }

    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 150%;
        text-align: center;
        color: #ffffff;
        margin-bottom: 60px;
    }

    &__form {
        width: 770px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__input {
        width: 370px;
        margin-bottom: 60px;

        input {
            width: 100%;
            background-color: transparent;
            border: none;
            color: #fff;
            font-size: 24px;
            line-height: 150%;
            font-family: 'Montserrat', sans-serif;
            border-bottom: 3px solid #fff;
            padding-bottom: 10px;
            outline: none;

            &::placeholder {
                color: #ffffff;
            }
        }
    }

    &__message {
        width: 100%;

        textarea {
            color: #9368a9;
            font-size: 24px;
            line-height: 150%;
            font-family: 'Montserrat', sans-serif;
            border-radius: 12px;
            padding: 10px 20px;
            outline: none;
            width: 100%;
            margin-top: 10px;
            height: 145px;
            resize: none;

            &::placeholder {
                color: #9368a9;
            }
        }

        label {
            color: #fff;
            font-size: 24px;
            line-height: 150%;
        }
    }

    &__button {
        margin-top: 60px;
        padding: 21px 48px;
        font-weight: bold;
        font-size: 18px;
        line-height: 150%;
        background-color: #ffffff;
        color: #9368a9;
        border-radius: 40px;
        border: none;
        cursor: pointer;
        margin-left: auto;
        outline: none;
        font-family: 'Montserrat', sans-serif;
    }

    &__image {
        position: absolute;
        top: 2%;
        right: -13%;
    }

    &__circle--big {
        width: 250px;
        height: 250px;
        position: absolute;
        top: -125px;
        left: -125px;
        border: 30px solid #77C20B;
        border-radius: 50%;
    }

    &__circle--small {
        width: 175px;
        height: 175px;
        position: absolute;
        bottom: -87.5px;
        border: 25px solid #F3D8A1;
        border-radius: 50%;
    }
}

.footer {
    
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left-side {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__map {
        height: 310px;
    }

    &__contacts {
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__contact {
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
    }
}

.socials {

    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
        display: block;
    }
}



@media (max-width: 1366px) {
    
    .container {
        width: 1000px;
    }

    .main {

        &__title {
            font-size: 30px;
        }

        &__subtitle {
            font-size: 20px;
        }

        &__img {
            height: 550px;
        }
    }

    .advantages {

        &__title {
            font-size: 30px;
        }
    }

    .catalog {

        &__title {
            font-size: 30px;
        }

        &__filter {
            font-size: 14px;
        }
    }

    .swiper-container {
        width: 850px;
    }

    .card {
        width: 230px;
    }

    .type__text {
        font-size: 14px;
        line-height: 16px;
    }

    .gallery {

        &__title {
            font-size: 30px;
        }
    }

    .photos {
        width: 1000px;

        &__image {
            width: 320px;
        }

        &__group {
            height: 770px;
        }
    }

    .about {

        &__title {
            font-size: 30px;
        }

        &__text-title {
            font-size: 20px;
            margin-bottom: 25px;
        }

        &__text-subtitle {
            font-size: 18px;
        }

        &__image {
            min-width: 510px;
            height: 475px;
            margin-left: 50px;
        }

        &__img--1 {
            width: 420px;
            height: 420px;
        }

        &__img--2 {
            width: 240px;
            height: 240px;
        }
    }

    .contact {

        &__title {
            font-size: 30px;
        }

        &__form {
            width: 700px;
        }
    
        &__input {
            width: 320px;
            margin-bottom: 50px;
    
            input {
                font-size: 20px;
            }
        }
    
        &__message {
            width: 100%;
    
            textarea {
                font-size: 20px;
                height: 130px;
            }
    
            label {
                font-size: 20px;
            }
        }

        &__image {
            width: 600px;
            top: 6%;
            right: -13%;
        }
    }

    .footer {

        &__contact {
            font-size: 14px;
        }
    }
}

@media (max-width: 1200px) {

    .container {
        width: 900px;
    }

    .header {

        &__phone {
            font-size: 14px;
        }
    }

    .menu {
        width: 450px;

        &__link {
            font-size: 14px;
        }
    }

    .logo {
        width: 225px;
    }

    .main {

        &__title {
            font-size: 26px;
        }

        &__subtitle {
            font-size: 18px;
            margin-top: 14px;
        }

        &__button {
            padding: 18px 42px;
            margin-top: 30px;
        }

        &__img {
            height: 500px;
        }
    }

    .advantages__title {
        font-size: 26px;
    }

    .catalog__title {
        font-size: 26px;
    }

    .about__title {
        font-size: 26px;
    }

    .contact__title {
        font-size: 26px;
    }

    .gallery__title {
        font-size: 26px;
    }

    .swiper-container {
        width: 775px;
    }

    .card {
        width: 220px;
        min-height: 0;

        &__image {
            height: 140px;
        }
    }

    .photos {
        width: 900px;

        &__image {
            width: 280px;
        }

        &__group {
            height: 780px;
        }
    }

    .about {

        &__text-title {
            margin-bottom: 20px;
        }

        &__image {
            min-width: 460px;
            height: 425px;
            margin-left: 35px;
        }

        &__img--1 {
            width: 380px;
            height: 380px;
            border-width: 15px;
        }

        &__img--2 {
            width: 215px;
            height: 215px;
            border-width: 15px;
        }
    }

    .contact {
        
        &__image {
            width: 500px;
            top: 12%;
            right: -14%;
        }

        &__circle--big {
            width: 220px;
            height: 220px;
            top: -110px;
            left: -110px;
            border: 25px solid #77C20B;
        }
    
        &__circle--small {
            width: 150px;
            height: 150px;
            bottom: -75px;
            border: 20px solid #F3D8A1;
        }

        &__button {
            padding: 18px 42px;
            margin-top: 50px;
        }
    }

    .footer {

        &__inner {
            padding: 80px 0;
        }
        
        &__map {
            display: none;
        }
    }
}

@media (max-width: 992px) {
    
    .container {
        width: 700px;
    }

    .menu {
        display: none;
    }

    .main {

        &__inner {
            padding-bottom: 100px;
        }

        &__img {
            height: 380px;
        }

        &__title {
            font-size: 24px;
        }

        &__subtitle {
            font-size: 16px;
        }

        &__button {
            font-size: 16px;
            padding: 16px 36px;
        }
    }

    .advantages {

        &__title {
            font-size: 24px;
        }
    }

    .advantage {
        
        &__title {
            font-size: 18px;
        }

        &__image {
            width: 150px;
            height: 150px;
            border-width: 8px;
        }
        
        &__img {
            width: 80px;
        }

        &__subtitle {
            font-size: 16px;
        }
    }

    .catalog {

        &__title {
            font-size: 24px;
        }

        &__filters {
            width: 550px;
        }
    }

    .filter {
        font-size: 13px;
        padding: 5px 24px;
    }

    .swiper-container {
        width: 550px;
    }

    .photos {
        width: 700px;

        &__image {
            width: 220px;
        }

        &__group {
            height: 620px;
        }

        &__image--small {
            height: 200px;
        }
    
        &__image--big {
            height: 400px;
        }
    }

    .about {

        &__title {
            font-size: 24px;
        }

        &__text-title {
            font-size: 18px;
        }

        &__text-subtitle {
            font-size: 16px;
        }

        &__image {
            height: 300px;
            width: 300px;
            min-width: 300px;
            margin-left: 35px;
        }

        &__img--1 {
            width: 300px;
            height: 300px;
            border-width: 15px;
            position: initial;
        }

        &__img--2 {
            display: none;
        }
    }

    .contact {

        &__title {
            font-size: 24px;
        }

        &__image {
            display: none;
        }

        &__input input {
            font-size: 18px;
        }

        &__message label {
            font-size: 18px;
        }

        &__button {
            padding: 16px 36px;
        }
    }
}

@media (max-width: 768px) {

    .container {
        width: 500px;
    }

    .main {
        
        &__img {
            display: none;
        }
    }

    .advantages {

        &__inner {
            padding: 100px 0;
        }

        &__items {
            margin-top: 50px;
        }
    }

    .advantage {

        width: 29%;

        &__image {
            width: 125px;
            height: 125px;
        }

        &__img {
            width: 65px;
            height: 65px;
        }

        &__subtitle {
            font-size: 14px;
        }
    }

    .catalog {

        &__inner {
            padding: 100px 0;
        }

        &__title {
            margin-bottom: 50px;
        }

        &__cards {
            width: 450px;
        }
    }

    .swiper-container {
        width: 450px;
    }

    .card {
        width: 270px;

        &__image {
            height: 165px;
        }
    }

    .gallery {

        &__inner {
            padding: 100px 0;
        }

        &__title {
            margin-bottom: 50px;
            font-size: 24px;
        }
    }

    .photos {

        width: 500px;

        &__group:last-child {
            display: none;
        }

        &__image {
            width: 240px;
        }
    }

    .about {

        &__inner {
            padding: 100px 0;
        }

        &__wrapper {
            flex-direction: column;
        }

        &__image {
            margin: 0;
        }

        &__text {
            width: 100%;
            order: 1;
            margin-top: 35px;
        }

        &__text-title {
            text-align: center;
        }

        &__text-subtitle {
            text-align: center;
        }
    }

    .contact {

        &__inner {
            padding: 100px 0;
        }

        &__form {
            width: 500px;
        }

        &__input {
            width: 225px;

            input {
                font-size: 16px;
            }
        }

        &__message label {
            font-size: 16px;
        }

        &__button {
            font-size: 16px;
            margin-top: 40px;
        }
    }
}

@media (max-width: 576px) {

    .container {
        width: 90%;
    }

    .advantage {
        
        &__image {
            border-width: 6px;
        }

        &__subtitle {
            font-size: 12px;
        }

        &__title {
            margin-bottom: 35px;
        }
    }

    .catalog {
        
        &__filters {
            width: 440px;
        }

        &__cards {
            width: 400px;
        }
    }

    .swiper-container {
        width: 400px;
    }

    .filter {
        font-size: 12px;
        padding: 5px 20px;
    }

    .card {
        width: 240px;
        min-height: 0;

        &__image {
            height: 140px;
        }
    }

    .photos {

        width: 100%;

        &__image {
            width: 100%;
        }

        &__group {
            width: 47.5%;
        }
    }

    .contact {

        &__form {
            width: 100%;
        }

        &__input {
            width: 100%;
        }

        &__circle--big {
            width: 180px;
            height: 180px;
            top: -90px;
            left: -90px;
            border: 20px solid #77C20B;
        }
    
        &__circle--small {
            width: 120px;
            height: 120px;
            bottom: -60px;
            border: 15px solid #F3D8A1;
        }
    }

    .footer {

        &__inner {
            flex-direction: column;
        }

        &__left-side {
            height: 100px;
            width: auto;
            align-items: center;
        }

        &__contacts {
            margin-top: 30px;
            align-items: center;
        }
    }
}

@media (max-width: 480px) {

    .main {

        &__inner {
            text-align: center;
            padding-bottom: 80px;
        }

        &__title {
            font-size: 20px;
        }

        &__subtitle {
            font-size: 14px;
        }

        &__button {
            font-size: 14px;
            padding: 14px 30px;
        }
    }

    .logo {
        
        width: 180px;

        &__image {
            width: 180px;
        }
    }

    .advantages {

        &__inner {
            padding: 80px 0;
        }

        &__title {
            font-size: 20px;
        }

        &__items {
            flex-direction: column;
            align-items: center;
        }
    }

    .advantage {
        width: 90%;

        &__image {
            width: 175px;
            height: 175px;
            border-width: 8px;
        }

        &__img {
            width: 100px;
            height: 100px;
        }

        &__title {
            font-size: 16px;
            margin-bottom: 25px;
        }

        &__subtitle {
            font-size: 14px;
        }
    }

    .advantage:not(:last-child) {
        margin-bottom: 50px;
    }

    .catalog {

        &__inner {
            padding: 80px 0;
        }

        &__title {
            font-size: 20px;
        }

        &__filters {
            width: 300px;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-bottom: 35px;
        }

        &__cards {
            width: 340px;
        }
    }

    .filter {
        flex-basis: 37.5%;
        margin-bottom: 16px;
    }

    .swiper-container {
        width: 340px;
    }

    .card {
        width: 220px;
    }

    .gallery {

        &__inner {
            padding: 80px 0;
        }

        &__title {
            font-size: 20px;
            margin-bottom: 40px;
        }
    }

    .about {

        &__inner {
            padding: 80px 0;
        }

        &__title {
            font-size: 20px;
            margin-bottom: 40px;
        }

        &__text-title {
            font-size: 16px;
        }

        &__text-subtitle {
            font-size: 14px;
        }

        &__img--1 {
            width: 280px;
            height: 280px;
            border-width: 12px;
        }

        &__image {
            width: 280px;
            min-width: 280px;
            height: 280px;
        }
    }

    .contact {

        &__title {
            font-size: 20px;
        }

        &__button {
            padding: 14px 30px;
            font-size: 14px;
        }
    }
}

@media (max-width: 320px) {

    .logo {
        
        width: 150px;

        &__image {
            width: 150px;
        }
    }

    .phone {
        font-size: 12px;
    }

    .catalog__cards {
        width: 280px;
    }

    .swiper-container {
        width: 280px;
    }
}